In [1]:
import pandas as pd
import numpy as np

In [2]:
ratings = pd.read_csv("D:/Courses/2nd Year/4.Data Science/-Sp-Data_Science_2019501125/DADV/Assignments/Task 1/Data/title.ratings.tsv", delimiter = '\t')

In [3]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1702
1  tt0000002            6.1       210
2  tt0000003            6.5      1462
3  tt0000004            6.2       123
4  tt0000005            6.2      2263

In [5]:
basics_movie = pd.read_csv("D:/Courses/2nd Year/4.Data Science/-Sp-Data_Science_2019501125/DADV/Assignments/Task 1/Data/title.basics.tsv", delimiter = '\t')

C:\Users\mrani\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
basics_movie.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [8]:
rating_above_eight = ratings[ratings['averageRating'] > 8.0]
rating_above_eight

            tconst  averageRating  numVotes
275      tt0000361            8.1        10
300      tt0000417            8.2     45149
611      tt0000961            8.2        13
691      tt0001089            8.3        19
748      tt0001233            8.6         5
...            ...            ...       ...
1155481  tt9916380            9.0       104
1155484  tt9916460            9.3        15
1155486  tt9916538            8.3         6
1155489  tt9916578            8.1        25
1155491  tt9916628            8.6         5

[227923 rows x 3 columns]

In [9]:
sorted_Votes = rating_above_eight.sort_values('numVotes', ascending = False).head(20)
sorted_Votes

           tconst  averageRating  numVotes
82012   tt0111161            9.3   2395323
247889  tt0468569            9.0   2357010
603109  tt1375666            8.8   2115014
98406   tt0137523            8.8   1893016
81795   tt0110912            8.9   1863186
80921   tt0109830            8.8   1852225
427211  tt0944947            9.3   1812848
96280   tt0133093            8.7   1711221
89793   tt0120737            8.8   1693856
113373  tt0167260            8.9   1673113
45835   tt0068646            9.2   1659243
390877  tt0816692            8.6   1559592
592590  tt1345836            8.4   1545653
417293  tt0903747            9.4   1514273
113374  tt0167261            8.7   1513014
84564   tt0114369            8.6   1477653
699309  tt1853728            8.4   1389555
115814  tt0172495            8.5   1366708
207780  tt0372784            8.2   1332804
75209   tt0102926            8.6   1298986

In [10]:
merged_output = pd.merge(sorted_Votes, basics_movie, on= 'tconst')
merged_output

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0111161,9.3,2395323,movie,The Shawshank Redemption,The Shawshank Redemption,0,1994,\N,142,Drama
1,tt0468569,9.0,2357010,movie,The Dark Knight,The Dark Knight,0,2008,\N,152,"Action,Crime,Drama"
2,tt1375666,8.8,2115014,movie,Inception,Inception,0,2010,\N,148,"Action,Adventure,Sci-Fi"
3,tt0137523,8.8,1893016,movie,Fight Club,Fight Club,0,1999,\N,139,Drama
4,tt0110912,8.9,1863186,movie,Pulp Fiction,Pulp Fiction,0,1994,\N,154,"Crime,Drama"
5,tt0109830,8.8,1852225,movie,Forrest Gump,Forrest Gump,0,1994,\N,142,"Drama,Romance"
6,tt0944947,9.3,1812848,tvSeries,Game of Thrones,Game of Thrones,0,2011,2019,57,"Action,Adventure,Drama"
7,tt0133093,8.7,1711221,movie,The Matrix,The Matrix,0,1999,\N,136,"Action,Sci-Fi"
8,tt0120737,8.8,1693856,movie,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,0,2001,\N,178,"Action,Adventure,Drama"
9,tt0167260,8.9,1673113,movie,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,0,2003,\N,201,"Action,Adventure,Drama"
10,tt0068646,9.2,1659243,movie,The Godfather,The Godfather,0,1972,\N,175,"Crime,Drama"
11,tt0816692,8.6,1559592,movie,Interstellar,Interstellar,0,2014,\N,169,"Adventure,Drama,Sci-Fi"
12,tt1345836,8.4,1545653,movie,The Dark Knight Rises,The Dark Knight Rises,0,2012,\N,164,"Action,Adventure"
13,tt0903747,9.4,1514273,tvSeries,Breaking Bad,Breaking Bad,0,2008,2013,49,"Crime,Drama,Thriller"
14,tt0167261,8.7,1513014,movie,The Lord of the Rings: The Two Towers,The Lord of the Rings: The Two Towers,0,2002,\N,179,"Action,Adventure,Drama"
15,tt0114369,8.6,1477653,movie,Se7en,Se7en,0,1995,\N,127,"Crime,Drama,Mystery"
16,tt1853728,8.4,1389555,movie,Django Unchained,Django Unchained,0,2012,\N,165,"Drama,Western"
17,tt0172495,8.5,1366708,movie,Gladiator,Gladiator,0,2000,\N,155,"Action,Adventure,Drama"
18,tt0372784,8.2,1332804,movie,Batman Begins,Batman Begins,0,2005,\N,140,"Action,Adventure"
19,tt0102926,8.6,1298986,movie,The Silence of the Lambs,The Silence of the Lambs,0,1991,\N,118,"Crime,Drama,Thriller"

In [12]:
movies_type = merged_output.loc[merged_output['titleType'] == 'movie']

In [13]:
title = movies_type[['originalTitle','averageRating' ]].head(20)
title

                                        originalTitle  averageRating
0                            The Shawshank Redemption            9.3
1                                     The Dark Knight            9.0
2                                           Inception            8.8
3                                          Fight Club            8.8
4                                        Pulp Fiction            8.9
5                                        Forrest Gump            8.8
7                                          The Matrix            8.7
8   The Lord of the Rings: The Fellowship of the Ring            8.8
9       The Lord of the Rings: The Return of the King            8.9
10                                      The Godfather            9.2
11                                       Interstellar            8.6
12                              The Dark Knight Rises            8.4
14              The Lord of the Rings: The Two Towers            8.7
15                                              Se7en            8.6
16                                   Django Unchained            8.4
17                                          Gladiator            8.5
18                                      Batman Begins            8.2
19                           The Silence of the Lambs            8.6

In [14]:
title.to_csv('D:/Courses/2nd Year/4.Data Science/-Sp-Data_Science_2019501125/DADV/Assignments/Task 1/popular_movies.csv' )

In [15]:
type(basics_movie)

pandas.core.frame.DataFrame

In [16]:
basics_movie.dtypes

tconst            object
titleType         object
primaryTitle      object
originalTitle     object
isAdult           object
startYear         object
endYear           object
runtimeMinutes    object
genres            object
dtype: object

In [17]:
basics_movie['startYear'] = pd.to_numeric(basics_movie['startYear'], errors='coerce')

In [18]:
basics_movie.dtypes

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult            object
startYear         float64
endYear            object
runtimeMinutes     object
genres             object
dtype: object

In [19]:
year = basics_movie[basics_movie.startYear >= 2000]
year

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
11060,tt0011216,movie,Spanish Fiesta,La fête espagnole,0,2019.0,\N,67,Drama
11637,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019.0,\N,\N,"Action,Crime"
15181,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000.0,\N,60,\N
16659,tt0016906,movie,Frivolinas,Frivolinas,0,2014.0,\N,80,"Comedy,Musical"
18034,tt0018295,short,El puño de hierro,El puño de hierro,0,2004.0,\N,40,"Action,Drama,Short"
...,...,...,...,...,...,...,...,...,...
7936896,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010.0,\N,\N,"Action,Drama,Family"
7936897,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010.0,\N,\N,"Action,Drama,Family"
7936898,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010.0,\N,\N,"Action,Drama,Family"
7936899,tt9916856,short,The Wind,The Wind,0,2015.0,\N,27,Short
7936900,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014.0,\N,10,"Animation,Comedy,Family"

In [20]:
year_rating_merged = pd.merge(year, ratings, on= 'tconst')
year_rating_merged

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0011216,movie,Spanish Fiesta,La fête espagnole,0,2019.0,\N,67,Drama,6.9,21
1,tt0015414,movie,La tierra de los toros,La tierra de los toros,0,2000.0,\N,60,\N,5.4,11
2,tt0016906,movie,Frivolinas,Frivolinas,0,2014.0,\N,80,"Comedy,Musical",5.6,15
3,tt0018295,short,El puño de hierro,El puño de hierro,0,2004.0,\N,40,"Action,Drama,Short",6.6,31
4,tt0019996,movie,Hongxia,Hongxia,0,2011.0,\N,94,Action,6.3,52
...,...,...,...,...,...,...,...,...,...,...,...
781310,tt9916682,tvEpisode,Horrid Henry It's all Your Fault,Horrid Henry It's all Your Fault,0,2012.0,\N,10,"Animation,Comedy,Family",5.6,5
781311,tt9916690,tvEpisode,Horrid Henry Delivers the Milk,Horrid Henry Delivers the Milk,0,2012.0,\N,10,"Animation,Comedy,Family",6.6,5
781312,tt9916720,short,The Nun 2,The Nun 2,0,2019.0,\N,10,"Comedy,Horror,Mystery",6.5,82
781313,tt9916766,tvEpisode,Episode #10.15,Episode #10.15,0,2019.0,\N,43,"Family,Reality-TV",6.9,17
781314,tt9916778,tvEpisode,Escape,Escape,0,2019.0,\N,\N,"Drama,Mystery,Romance",7.5,27

In [21]:
num_votes = year_rating_merged[year_rating_merged.numVotes > 40000]
num_votes

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
5,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,\N,118,"Comedy,Fantasy,Romance",6.4,79852
58,tt0118694,movie,In the Mood for Love,Fa yeung nin wah,0,2000.0,\N,98,"Drama,Romance",8.1,130056
90,tt0120630,movie,Chicken Run,Chicken Run,0,2000.0,\N,84,"Adventure,Animation,Comedy",7.0,179474
91,tt0120667,movie,Fantastic Four,Fantastic Four,0,2005.0,\N,106,"Action,Adventure,Fantasy",5.7,314620
93,tt0120679,movie,Frida,Frida,0,2002.0,\N,123,"Biography,Drama,Romance",7.4,82670
...,...,...,...,...,...,...,...,...,...,...,...
777692,tt9784798,movie,Judas and the Black Messiah,Judas and the Black Messiah,0,2021.0,\N,126,"Biography,Drama,History",7.5,47966
778483,tt9815454,tvMiniSeries,Unorthodox,Unorthodox,0,2020.0,2020,213,Drama,8.0,62377
779854,tt9866072,movie,Holidate,Holidate,0,2020.0,\N,104,"Comedy,Romance",6.1,49033
780561,tt9893250,movie,I Care a Lot,I Care a Lot,0,2020.0,\N,118,"Comedy,Crime,Thriller",6.3,97838
780960,tt9906260,tvEpisode,Hero,Hero,0,2019.0,\N,24,"Action,Adventure,Animation",9.9,60831

In [22]:
sorted_rates = num_votes.sort_values('averageRating', ascending = False)
sorted_rates

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
413116,tt2301451,tvEpisode,Ozymandias,Ozymandias,0,2013.0,\N,48,"Crime,Drama,Thriller",10.0,137248
780960,tt9906260,tvEpisode,Hero,Hero,0,2019.0,\N,24,"Action,Adventure,Animation",9.9,60831
280421,tt13857684,tvEpisode,Assault,Assault,0,2021.0,\N,24,"Action,Adventure,Animation",9.9,53350
536248,tt4283094,tvEpisode,The Winds of Winter,The Winds of Winter,0,2016.0,\N,68,"Action,Adventure,Drama",9.9,135740
413118,tt2301455,tvEpisode,Felina,Felina,0,2013.0,\N,55,"Crime,Drama,Thriller",9.9,93517
...,...,...,...,...,...,...,...,...,...,...,...
694949,tt7431594,movie,Race 3,Race 3,0,2018.0,\N,160,"Action,Crime,Thriller",1.9,40927
174362,tt10888594,movie,Radhe,Radhe,0,2021.0,\N,135,"Action,Crime,Thriller",1.8,152760
337926,tt1702443,movie,Justin Bieber: Never Say Never,Justin Bieber: Never Say Never,0,2011.0,\N,105,"Documentary,Music",1.6,75116
627013,tt5988370,movie,Reis,Reis,0,2017.0,\N,108,"Biography,Drama",1.4,72666
713221,tt7886848,movie,Sadak 2,Sadak 2,0,2020.0,\N,133,"Action,Drama",1.1,67398

In [23]:
only_movies = sorted_rates.loc[sorted_rates['titleType'] == 'movie'].head(20)
only_movies

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
438532,tt2592910,movie,CM101MMXI Fundamentals,CM101MMXI Fundamentals,0,2013.0,\N,139,"Comedy,Documentary",9.2,44245
144998,tt10189514,movie,Soorarai Pottru,Soorarai Pottru,0,2020.0,\N,153,Drama,9.1,79146
54935,tt0468569,movie,The Dark Knight,The Dark Knight,0,2008.0,\N,152,"Action,Crime,Drama",9.0,2357010
470,tt0167260,movie,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,0,2003.0,\N,201,"Action,Adventure,Drama",8.9,1673113
277541,tt1375666,movie,Inception,Inception,0,2010.0,\N,148,"Action,Adventure,Sci-Fi",8.8,2115014
97,tt0120737,movie,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,0,2001.0,\N,178,"Action,Adventure,Drama",8.8,1693856
617309,tt5813916,movie,The Mountain II,Dag II,0,2016.0,\N,135,"Action,Drama,War",8.7,106012
471,tt0167261,movie,The Lord of the Rings: The Two Towers,The Lord of the Rings: The Two Towers,0,2002.0,\N,179,"Action,Adventure,Drama",8.7,1513014
105632,tt0816692,movie,Interstellar,Interstellar,0,2014.0,\N,169,"Adventure,Drama,Sci-Fi",8.6,1559592
3719,tt0245429,movie,Spirited Away,Sen to Chihiro no kamikakushi,0,2001.0,\N,125,"Adventure,Animation,Family",8.6,671048
664997,tt6751668,movie,Parasite,Gisaengchung,0,2019.0,\N,132,"Comedy,Drama,Thriller",8.6,609491
16568,tt0317248,movie,City of God,Cidade de Deus,0,2002.0,\N,130,"Crime,Drama",8.6,709497
4611,tt0253474,movie,The Pianist,The Pianist,0,2002.0,\N,150,"Biography,Drama,Music",8.5,749070
37174,tt0407887,movie,The Departed,The Departed,0,2006.0,\N,151,"Crime,Drama,Thriller",8.5,1213429
530,tt0172495,movie,Gladiator,Gladiator,0,2000.0,\N,155,"Action,Adventure,Drama",8.5,1366708
59405,tt0482571,movie,The Prestige,The Prestige,0,2006.0,\N,130,"Drama,Mystery,Sci-Fi",8.5,1216138
334085,tt1675434,movie,The Intouchables,Intouchables,0,2011.0,\N,112,"Biography,Comedy,Drama",8.5,778692
736348,tt8503618,movie,Hamilton,Hamilton,0,2020.0,\N,160,"Biography,Drama,History",8.5,64601
438008,tt2582802,movie,Whiplash,Whiplash,0,2014.0,\N,106,"Drama,Music",8.5,739121
291302,tt1424432,movie,Senna,Senna,0,2010.0,\N,106,"Biography,Documentary,Sport",8.5,65284

In [24]:
best_movies= only_movies[['originalTitle','numVotes', 'startYear','averageRating' ]].head(20)
best_movies

,originalTitle,numVotes,startYear,averageRating
438532,CM101MMXI Fundamentals,44245,2013.0,9.2
144998,Soorarai Pottru,79146,2020.0,9.1
54935,The Dark Knight,2357010,2008.0,9.0
470,The Lord of the Rings: The Return of the King,1673113,2003.0,8.9
277541,Inception,2115014,2010.0,8.8
97,The Lord of the Rings: The Fellowship of the Ring,1693856,2001.0,8.8
617309,Dag II,106012,2016.0,8.7
471,The Lord of the Rings: The Two Towers,1513014,2002.0,8.7
105632,Interstellar,1559592,2014.0,8.6
3719,Sen to Chihiro no kamikakushi,671048,2001.0,8.6
664997,Gisaengchung,609491,2019.0,8.6
16568,Cidade de Deus,709497,2002.0,8.6
4611,The Pianist,749070,2002.0,8.5
37174,The Departed,1213429,2006.0,8.5
530,Gladiator,1366708,2000.0,8.5
59405,The Prestige,1216138,2006.0,8.5
334085,Intouchables,778692,2011.0,8.5
736348,Hamilton,64601,2020.0,8.5
438008,Whiplash,739121,2014.0,8.5
291302,Senna,65284,2010.0,8.5

In [25]:
best_movies.sort_values('numVotes', ascending=False)

,originalTitle,numVotes,startYear,averageRating
54935,The Dark Knight,2357010,2008.0,9.0
277541,Inception,2115014,2010.0,8.8
97,The Lord of the Rings: The Fellowship of the Ring,1693856,2001.0,8.8
470,The Lord of the Rings: The Return of the King,1673113,2003.0,8.9
105632,Interstellar,1559592,2014.0,8.6
471,The Lord of the Rings: The Two Towers,1513014,2002.0,8.7
530,Gladiator,1366708,2000.0,8.5
59405,The Prestige,1216138,2006.0,8.5
37174,The Departed,1213429,2006.0,8.5
334085,Intouchables,778692,2011.0,8.5
4611,The Pianist,749070,2002.0,8.5
438008,Whiplash,739121,2014.0,8.5
16568,Cidade de Deus,709497,2002.0,8.6
3719,Sen to Chihiro no kamikakushi,671048,2001.0,8.6
664997,Gisaengchung,609491,2019.0,8.6
617309,Dag II,106012,2016.0,8.7
144998,Soorarai Pottru,79146,2020.0,9.1
291302,Senna,65284,2010.0,8.5
736348,Hamilton,64601,2020.0,8.5
438532,CM101MMXI Fundamentals,44245,2013.0,9.2

In [26]:
best_movies.to_csv('D:/Courses/2nd Year/4.Data Science/-Sp-Data_Science_2019501125/DADV/Assignments/Task 1/movie_highvotes.csv')